<div class="chat-container container-fluid" #chatContainer>
  <div class="row">
    <div class="col-12">
      <div class="chat">
        <ul class="chat-body list-group">
          <li *ngFor="let message of chatMessages"
              class="animated fadeIn message-container" [ngClass]="{mine: message.isMine}">
            <p class="message" [innerHTML]="message.message | emoji"></p>
          </li>
        </ul>
        <app-writing *ngIf="isWriting"></app-writing>
      </div>
    </div>
  </div>

  <div class="user-input" *ngIf="showAnswer">
      <div class="row">
        <div class="col" *ngFor="let choice of choices">
          <a class="choice-button" href="javascript:void(0)" (click)="submitChoice(choice)" [innerHTML]="choice | emoji"></a>
        </div>
      </div>
      <form (submit)="submitAnswer()"  *ngIf="choices.length == 0">
        <input type="text" class="form-control chat-box"
               name="message" [(ngModel)]="answer"
               required
               placeholder="{{placeholder}}">
      </form>
  </div>
</div>

