<div class="message hints" [@flyInOut]="'in'">
  <div class="hint" *ngFor="let artist of hint.artists | slice:0:5; let i = index" (mouseover)='visible = i' (mouseleave)="visible = -1">
    <img class="thumb" [src]="artist.thumbUrl">
    <p *ngIf="i === visible">
      <button class="btn btn-dislike" (click)="sendLike(artist)"> <i class="fa fa-thumbs-down"></i></button>
      {{artist.name}}
      <button class="btn btn-like" (click)="sendLike(artist)"> <i class="fa fa-thumbs-up"></i></button>
    </p>
  </div>
</div>
