/* You can add global styles to this file, and also import other style files */

button {
  cursor: pointer;
}

.thumb {
  display: inline-block;
  margin: 5px;
  border-radius: 50%;
  background-position: center center;
  background-size: cover;
}
